@model PraksaFrontMVC.Models.Work
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="create-wrap">
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2 fontGreen">
                Naziv:
            </dt>
            <dd class="col-sm-10 normal-variant">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2 fontGreen">
                Datum:
            </dt>
            <dd class="col-sm-10 normal-variant">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2 fontGreen">
                Vrijeme:
            </dt>
            <dd class="col-sm-10 normal-variant">
                @Html.DisplayFor(model => model.Time)
            </dd>
            <dt class="col-sm-2 fontGreen">
                Opis:
            </dt>
            <dd class="col-sm-10 normal-variant">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2 fontGreen">
                Lokacija:
            </dt>
            <dd class="col-sm-10 normal-variant">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2 fontGreen">
                Obveznost:
            </dt>
            <dd class="col-sm-10 normal-variant">
                @Html.DisplayFor(model => model.Obligation)
            </dd>
        </dl>
    </div>
    <form asp-controller="Attendants" asp-action="Coming">
        <input type="hidden" asp-for="Id" /><br />
        <input type="submit" value="Dolazim" class="btn btn-primary" style="font-variant:small-caps; background-color:@ViewBag.yesColor!important" formmethod="post" />
    </form>
    <form asp-controller="Attendants" asp-action="NotComing">
        <input type="hidden" asp-for="Id" /><br />
        <input type="submit" value="Ne dolazim" class="btn btn-primary" style="font-variant:small-caps; background-color:@ViewBag.noColor!important" formmethod="post" />
    </form>
    <form asp-controller="Attendants" asp-action="MaybeComing">
        <input type="hidden" asp-for="Id" /><br />
        <input type="submit" value="Možda dolazim" class="btn btn-primary" style="font-variant:small-caps; background-color:@ViewBag.maybeColor!important" formmethod="post" />
    </form>
</div>