@model IEnumerable<PraksaFrontMVC.Models.PermitName>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
    <title>Dozvole</title>
</head>
<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1>Dozvole</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr style="background-color: #6bc277;">
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>