@model PraksaFrontMVC.Models.ContactEmail

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Brisanje</h1>
</div>

<h3>Jeste li sigurni da želite obrisati ovaj e-mail?</h3>
<div class="create-wrap">
    <hr />
    <dl class="row">
        <dt class="col-sm-2 fontGreen">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10 normal-variant">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 fontGreen">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10 normal-variant">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdUser" />
        <input type="submit" value="Delete" class="btn btn-danger" style="font-variant:small-caps" formmethod="post" /> |
        <a class="workButton" style="font-variant:small-caps" asp-controller="ContactEmails" asp-action="Index" asp-route-id="@ViewBag.userId">go back</a>
    </form>
</div>
