@model IEnumerable<PraksaFrontMVC.Models.ContactEmail>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
    <title>Mailovi</title>
</head>
<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1>Mailovi</h1>
</div>

<p>
    <br />
    <a class="workButton" style="font-variant:small-caps" asp-action="Create" asp-route-userId ="@ViewBag.userId">Create New</a>
</p>
<div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr style="background-color: #6bc277;">
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdUser)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdUser)
                            </td>
                            <td>
                                <div style="width:70px; display:inline;"><a class="workButton" style="font-variant: small-caps" asp-action="Edit" asp-route-id="@item.Id" asp-route-userid="@item.IdUser">Edit</a></div>
                                <div style="width: 70px; display: inline;"><a class="closeButton" style="font-variant:small-caps" asp-action="Delete" asp-route-id="@item.Id" asp-route-userid="@item.IdUser">Delete</a></div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>