@model IEnumerable<PraksaFrontMVC.Models.Attendant>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
    <title>Dolaznici</title>
</head>
<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1>Dolaznici</h1>
</div>

<div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr style="background-color: #6bc277;">
                        <th>
                            Ime
                        </th>
                        <th>
                            Prezime
                        </th>
                        <th>
                            Interes
                        </th>
                        <th>
                            Dolaznost
                        </th>
                        <th>
                            Vrijeme Odabira
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Interes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Attendance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SelectionTime)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>