@model PraksaFrontMVC.Models.ContactNumber

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContactNumber</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="workButton" style="font-variant:small-caps" asp-controller="ContactNumbers" asp-action="Index" asp-route-id="@ViewBag.userId">Nazad na popis</a>
</div>
