@model PraksaFrontMVC.Models.ContactNumber

@{
    ViewData["Title"] = "Details";
}

}
<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Detalji</h1>
</div>

<div class="create-wrap">
    <hr />
    <dl class="row">
        <dt class="col-sm-2 fontGreen">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10 normal-variant">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2 fontGreen">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10 normal-variant">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="workButton" style="font-variant:small-caps" asp-controller="ContactNumbers" asp-action="Index" asp-route-id="@ViewBag.userId">Nazad na popis</a>
</div>
