@model IEnumerable<PraksaFrontMVC.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 style="font-variant: small-caps;">Korisnici</h1>
</div>

<p>
    <br />
    <a class="workButton" style="font-variant:small-caps" asp-action="Create">Create new</a>
</p>
<div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr style="background-color: #6bc277;">
                        <th>
                            JMBAC
                        </th>
                        <th>
                            Ime
                        </th>
                        <th>
                            Prezime
                        </th>
                        <th>
                            Adresa
                        </th>
                        <th>
                            OIB
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Kontakt broj
                        </th>
                        <th>
                            Dozvole
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UniqueId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Oib)
                        </td>
                        <td style="width:300px;">
                            @Html.DisplayFor(modelItem => item.Email)
                            <div style="width: 70px; display: inline;"><a class="editButton" style="font-variant:small-caps" asp-controller="ContactEmails" asp-action="Index" asp-route-id="@item.Id">uredi</a></div>
                        </td>
                        <td style="width:200px;">
                            @Html.DisplayFor(modelItem => item.Number)
                            <div style="width: 70px; display: inline;"><a class="editButton" style="font-variant:small-caps" asp-controller="ContactNumbers" asp-action="Index" asp-route-id="@item.Id">uredi</a></div>
                        </td>
                        <td style="width:90px;">
                            <div style="width: 70px; display: inline;"><a class="editButton" style="font-variant:small-caps" asp-controller="Permits" asp-action="Index" asp-route-id="@item.Id">dozvole</a></div>
                        </td>
                        <td style="padding:20px 10px; width:300px;">
                            <div style="width:70px; display:inline;"><a class="workButton" style="font-variant: small-caps" asp-action="Edit" asp-route-id="@item.Id">Uredi</a></div>
                            <div style="width:70px; display: inline;"><a class="workButton" style="font-variant:small-caps" asp-action="Details" asp-route-id="@item.Id">Detalji</a></div>
                            <div style="width: 70px; display: inline;"><a class="closeButton" style="font-variant:small-caps" asp-action="Delete" asp-route-id="@item.Id">Zatvori</a></div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>