@model IEnumerable<PraksaFrontMVC.Models.Person>

@{
    ViewData["Title"] = "RegistrationRequest";
}
<head>
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 style="font-variant: small-caps;">Zahtjevi registracije</h1>
</div>

<div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr style="background-color: #6bc277;">
                        <th>
                            Ime
                        </th>
                        <th>
                            Prezime
                        </th>
                        <th>
                            Adresa
                        </th>
                        <th>
                            Oib
                        </th>
                        <th>
                            E-pošta
                        </th>
                        <th>
                            Kontakt broj
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Oib)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td style="padding:20px 10px; width:250px;">
                            <div style="width:70px; display: inline;"><a class="workButton" style="font-variant:small-caps" asp-action="Accept" asp-route-id="@item.Id">Prihvati</a></div>
                            <div style="width: 70px; display: inline;"><a class="closeButton" style="font-variant:small-caps" asp-action="Reject" asp-route-id="@item.Id">Odbij</a></div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>