@model IEnumerable<PraksaFrontMVC.Models.PermitName>

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewBag.userName - Dodavanje dozvole</h1>

<h4>Permit</h4>
<hr />
<div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr style="background-color: #6bc277;">
                        <th>
                            Naziv Dozvole
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="padding:20px 10px; width:250px;">
                                <div style="width:70px; display:inline;"><a class="workButton" style="font-variant: small-caps" asp-action="Add" asp-route-permitId="@item.Id" asp-route-userId="@ViewBag.userId">Dodaj</a></div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a class="workButton" style="font-variant:small-caps" asp-controller="Permits" asp-action="Index" asp-route-id="@ViewBag.userId">Nazad</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
