@model IEnumerable<PraksaFrontMVC.Models.Permit>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 style="font-variant: small-caps;">@ViewBag.userName - Dozvole</h1>
</div>

<p>
    <br />
    <a class="workButton" style="font-variant:small-caps" asp-action="Create" asp-route-userId="@ViewBag.userId">Dodaj Dozvolu</a>
</p>
<div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr style="background-color: #6bc277;">
                        <th>
                            Id Korisnika
                        </th>
                        <th>
                            Id Dozvole
                        </th>
                        <th>
                            Datum Isteka
                        </th>
                        <th>
                            Ime
                        </th>
                        <th>
                            Prezime
                        </th>
                        <th>
                            Naziv Dozvole
                        </th>
                        <th>
                            Broj Dozvole
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdUser)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPermit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PermitName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PermitNumber)
                        </td>
                        <td style="padding:20px 10px; width:250px;">
                            <div style="width:70px; display:inline;"><a class="workButton" style="font-variant: small-caps" asp-action="Edit" asp-route-id="@item.Id" asp-route-userId="@item.IdUser">Uredi</a></div>
                            <div style="width: 70px; display: inline;"><a class="closeButton" style="font-variant:small-caps" asp-action="Delete" asp-route-id="@item.Id" asp-route-userId="@item.IdUser">Izbriši</a></div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <div style="width:70px; display:inline;"><a class="workButton" style="font-variant: small-caps" asp-controller="People" asp-action="Index">Nazad</a></div>
</div>
