@model IEnumerable<PraksaFrontMVC.Models.Permit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-userId ="@ViewBag.userId">Stvori Dozvolu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Korisnika
            </th>
            <th>
                Id Dozvole
            </th>
            <th>
                Datum Isteka
            </th>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Naziv Dozvole
            </th>
            <th>
                Broj Dozvole
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPermit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-userId="@item.IdUser">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-userId="@item.IdUser">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-userId="@item.IdUser">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <div style="width:70px; display:inline;"><a class="workButton" style="font-variant: small-caps" asp-controller="People" asp-action="Index">Nazad</a></div>
</div>